.navmax {
  background-color: #010E27;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 88888;
}
.navmax nav {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 10px;
  position: relative;
}
.navmax nav a {
  margin-left: 10px;
}
.navmax nav a .logo {
  width: 100px;
}
.navmax nav .links {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  position: absolute;
  right: 0;
}
.navmax nav .links li {
  list-style: none;
}
.navmax nav .links li a {
  color: #fff;
  margin: 0 10px;
  font-size: 18px;
  position: relative;
}
.navmax nav .links li a:hover {
  color: #0973BA;
  transition: all 0.3s ease-in-out;
}
.navmax nav .hamburger {
  position: absolute;
  right: 0;
  display: none;
}
.navmax nav .hamburger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 25px;
}
.navmax nav .hamburger .line2 {
  width: 20px;
}
.navmax nav .hamclick .line2 {
  display: none;
}
.navmax nav .hamclick .line1 {
  width: 30px;
  transform: rotate(45deg) translateY(5px);
}
.navmax nav .hamclick .line3 {
  width: 30px;
  transform: rotate(-45deg) translatey(-7px) translateX(0px);
}